.image{
	width: 400px;
	height: 400px;

	background-image: url('foto-contact.png');
	background-repeat: no-repeat;
	background-size: 400px 400px;

	background-color: linear-gradient(rgba(0,0,0,.3), rgba(251, 131, 176,.3));

	margin-left: 300px;
	margin-top: 100px;
	box-shadow: 2px 4px 10px white, 2px 4px 10px black;
}
.identitas{
	width: 300px;
	height: 200px;

	position: absolute;
	bottom: 300px;
	line-height: 50px;
	padding-left: 20px;
	font-family: arial;
	font-size: 30px;

	color: rgba(0,0,0,.3);
	text-shadow: 1px 2px 3px white, -1px -2px 3px black;


}